บันทึกสิ่งที่ต้องการทำ
เมื่อทำเสร็จแล้ว สามารถ mark ว่าเสร็จแล้วได้ แล้วงานนั้นจะถูกซ่อนไป
แจ้งเตือนผู้ใช้เมื่อใกล้ถึงเวลา deadline
สามารถแก้ไขข้อมูลของแต่ละงานได้
ผู้ใช้ไม่จำเป็นต้องล็อกอินหากต้องการดู tasks ในเครื่องเดิม
เมื่อปิดหน้าเว็บแล้วข้อมูลไม่หาย
ผู้ใช้สามารถตั้ง user-password สำหรับเปิดดูในเครื่องอื่นได้
หากเปิดในเครื่องอื่นแล้ว งานที่เคยบันทึกไว้ในทั้ง 2 เครื่องจะต้องมารวมไว้ในบัญชีเดียวกัน
เชื่อมต่อกับบริการอื่นๆจากผู้พัฒนาภายนอกได้
แจ้งเตือนได้แม่นยำ
กำหนดค่าความสำคัญของแต่ละ task ได้
แชร์ task กับเพื่อนคนอื่นๆได้
